# MLflow tracking
MLFLOW_TRACKING_URL=http://mlflow:5000

# MinIO (S3)
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme

# Jenkins (opcional)
JENKINS_URL=http://localhost:10000