data/agrofitprodutosformulados.csv
# Ignorar todos os arquivos CSV
*.csv

# Excluir arquivos específicos (opcional)
/data/*.csv

dagster/dagster_home/history/
dagster/dagster_home/runs.db
*.sqlite
.env